<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>
    <h1>About me</h1>
    <div>
        <p><b>Born in:</b> West Homestead, Pennsylvania U.S.</p>
        <p><b>When:</b> October 22, 1952 </p>

        <p><b>Occupation:</b> Actor: <a href="/works">See my work here</a></p>
        <p><b>Photos of me: </b> <a href="/photoGallery">Photos</a></p>
        <p><b>Musical career:</b> Vocals, Piano</p>

    </div>
    <a href="/home">Back to homepage</a>
</body>

</html>