<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work</title>
</head>

<body>
    <h1>Greatest Works</h1>
    <div>
        <ul>
            <li>Annie Hall</li>
            <li>The Big Chill</li>
            <li>The Right Stuff</li>
            <li>Into the Night</li>
            <li>Silverado</li>
            <li>The Fly</li>
            <li>Earth Girls are Easy</li>
            <li><b>Jurassic Park</b></li>
            <li>Nine Months</li>
            <li>Independence Day</li>
        </ul>
    </div>
    <a href="/home">Back to homepage</a>
</body>

</html>